<html>
    <link rel="stylesheet" href="/static/admin.css">
    <head>
        <title> Admin Page </title>
    </head>
    <body>
       
        
        
        <div class="header">
            <!--Content before waves-->
            
                <h1> Admin Page </h1>
                <img src="/static/ShipLogInPage.png" alt="">
                <h2> Select your calculator </h2>
                <div class="card" id="card1"><a href="/structure_calc"> Structure</a></div>
                <div class="card" id="card2"><a href="/plastic_calc"> Plastic</a></div>
                <div class="card" id="card3"><a href="/finishes_calc"> Finishes</a></div>
                <div class="card" id="card4"><a href="/enclosure_calc"> Enclosure</a></div>
                <div class="card" id="card5"><a href="/fittings_calc"> Fittings</a></div>
                <div class="card" id="card6"><a href="/total_cal"> Total Embodied Carbon</a></div>

            <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
            <!--Waves end-->
        
        </div>
        <!--Header ends-->
        
        <!--Content starts-->
        <div class="content flex">
            <p>Systems Design Project: Embodied Carbon Calculator</p>
        </div>
        <!--Content ends-->
    </body>
</html>